%div.span6
  =link_to image_tag("/assets/dishes/#{@dish.category.title}/#{@dish.image}.jpg"), dish_path(@dish), 'transition-name'=>"slide reverse"
%div.info
  =link_to @dish.title, dish_path(@dish), 'transition-name'=>"slide reverse"
  %br
  %p
    =@dish.description
%div.description
  %p
    $ 
    =@dish.price.to_i
%div.description
  =link_to "+ Info", dish_path(@dish), 'transition-name'=>"slide reverse"