%div.dish
  %h3=link_to dish.title, dish_path(dish)
  %div.row-fluit
    %div.span3
      %img{:src => "/assets/dishes/#{dish.category.title}/#{dish.image}.jpg"}
      =votes_enable(dish)
    %div.ingredients.span7
      =render dish.ingredients