%div.dish
  %h3=link_to dish.title, dish_path(dish)
  %div.row-fluit
    %div.span3
      %img{:src => "/assets/dishes/#{dish.category.title}/#{dish.id}.jpg"}
      %div#like=link_to "Like", "/dishes/vote?dish_id=#{dish.id}&value=1", :remote => true
    %div.ingredients.span7
      =render dish.ingredients