// Place all the styles related to the dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tdishes
  margin-top: 6%
  color: white

#dish
  background: url("/assets/others/product_background.png") no-repeat center center fixed
  background-size: cover
  
  