// Place all the styles related to the dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue_darker: #75A9A9

.tdishes
  color: white
  font-weight: bold
  
.rowdish
  margin-bottom: 2%

#dish
  background: url("/assets/others/product_background.png") no-repeat center center fixed
  background-size: cover
  padding: 1% 1% 0% 1%
  max-height: 140px
  overflow: visible
  .description
    float: left
    font-size: 23px
    font-weight: bold
    padding: 2% 6%
    background: url("/assets/others/button.png") no-repeat center center fixed
    background-size: cover
    margin-left: 9%
    p, a
      margin: 0
      color: grey

.info
  padding-left: 54%
  color: white
  a
    color: white
    font-weight: bold
  p
    font-size: 9px
    line-height: 14px
    
.product_info
  background: $blue_darker
  height: 280px
  
.dishbackg
  background: url("/assets/others/product_background.png") no-repeat center center fixed
  background-size: cover
  
#dish_container
  margin: 4% 20.5% 1% 20.5%
  padding: 1%
  .dish_info
    margin-bottom: 1%
  .description_show
    background-color: $blue_darker
    color: white
    padding: 1%
    a
      float: right
      width: 10%
      text-align: center
    h3
      margin-top: 0      
  .product_price
    background: url("/assets/others/button.png") no-repeat center center fixed
    background-size: cover
    text-align: center
    color: grey
    h3
      margin: 0
    font-weight: bold