%div.categories
  %div.row-fluid.offset4
    =image_tag("/assets/others/category_title.png")
  -0.step(@categories.size-1,3) do |i|
    %div.row-fluid.offset3
      -for j in 0..2
        -if i+j <= @categories.size-1
          -category = @categories[i+j]
          =link_to image_tag("/assets/categories/#{category.title}.png"), dishes_path(:category_id => category.id)