!!!
%head
  %meta{:charset       => "utf-8"}
    %meta{:content     => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
      %title Restaurant
      %meta{:content   => "", :name => "description"}
        %meta{:content => "width=device-width", :name => "viewport"}
          %link{:href  => "/assets/application.css", :rel => "stylesheet"}
          =javascript_include_tag "application"


%body#backgroundDish
  %div.row-fluid
    -if current_user
      = link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "span1 offset11"
    -else
      = link_to "Sign in", new_user_session_path, :class => "span1 offset11"

%body
  %div.container-fluid
    %div.row-fluid
      %div{:role => "main"}
        = yield
    %div.row-fluid
      %div.span12.menu.offset3
        =render :partial => "/categories/menu"