!!!
%head
  %meta{:charset       => "utf-8"}
    %meta{:content     => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
      %title Restaurant
      %meta{:content   => "", :name => "description"}
        %meta{:content => "width=device-width", :name => "viewport"}
          %link{:href  => "/assets/application.css", :rel => "stylesheet"}
          =javascript_include_tag "application"

%body
  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=336658529767126";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  %div#menu= render '/layouts/user_panel'
  %div.container-fluid
    %div.row-fluid
      %div{:role => "main"}
        = yield
    %div.row-fluid
      %div.menu
        %div.offset2
          =render :partial => "/categories/menu"